.DS_Store
.gradle/*
.idea/*
config/*
libs/*
performance/*
target/*
classes
service/build/*
service/logs/*
build/*
out/*
.settings/*
.idea
.classpath
.project
*.iml
*.iws
*.ipr
*.log

output.txt
productService.pid
jmeter.log
jmeterResults_*
jmeterInput_*

logs/*
cache/*

gradle/
gradlew
gradlew.bat
/bin/
/build/
target

